/*----------------------------------------ava-------*/

.sections__ava{
 width: 100%;
 display: flex;
 justify-content: center;
}
.sections__ava img{
 width: 100%;
}

/* новый блог */
.blog-blog{
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
}
.mini-blog{
  width: 80%;
  background-color: rgb(192, 184, 192);
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.mini-blog:hover {
  box-shadow: 0 0 10px #030303;
  transform: translateY(-5px);
}
.blog-img{
 max-height: 200px;
 display: flex;
 overflow: hidden;
 align-items: center;
 justify-content: center;
 margin: 40px 25px;
 transition: all .9s ease;
}
.blog-img:hover{
  transform: scale(1.02);
}
.blog-img img{
  width: 100%;
}
.title-blog{
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 15px;
}
.title-blog a{
  color: #020202;
}
.text-blog{
  display: flex;
  justify-content: center;
  font-size: 19px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.text-blog a {
  color: #000;
}
.post {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
  flex-direction: column;
}
.post-blog{
  width: 80%;
  background-color: rgb(226, 217, 226);
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.post-blog:hover {
  box-shadow: 0 0 10px #030303;
  transform: translateY(-5px);
}
.navig-post{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Классы блога */

.post_title {
        font-size: 28px;
}
.post_text {

}
.back_blog{
}
/* Классы блога */
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}
.post_title {
        font-size: 28px;
}
.post_text {

}
.back_blog{
}


/* Классы блога */

/* добавил стили блога вверх */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: #141414;
    --index: calc(1vw + 1vh);
    --transition: 1.25s cubic-bezier(.2, .5, 0, 1);
    --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
    font-family: arsenal_f, sans-serif;
    src: url(./ready-html/fonts/arsenal-regular.woff2);
}
body {
    background-color: #f0f0f0;
}
.magic-list {
    font-family: arsenal_f, sans-serif;
    font-size: calc(var(--index) * 2);
    padding: calc(var(--index) * 2.5);
}
.magic-list__item{
    /* cursor: none; */
    color: var(--black);
    text-decoration: none;
    display: block;
    line-height: .9;
    padding: calc(var(--index) * 3) calc(var(--index) * 7.5);
    border-bottom: 1px solid #a7a7a7;
    counter-increment: my-counter;
}
.magic-list__item:hover .magic-list__header{
    transform: translate3d(calc(var(--index) * -5), 0, 0);
}
.magic-list__header{
    width: min-content;
    transition: transform var(--transition);
    will-change: transform;
    text-shadow: 0 0 10px white,0 0 20px white,0 0 30px white,0 0 40px white;
}
.cursor{
    --width: calc(var(--index) * 22);
    --height: calc(var(--index) * 14);
    position: fixed;
    width: var(--width);
    height: 0;
    top: calc(var(--height) * -.5);
    left: calc(var(--width) * -.5);
    overflow: hidden;
    transform: translate3d(var(--move-x), var(--move-y), 0);
    transition: transform var(--transition-cursor), height 1s ease;
    z-index: -1;
    will-change: transform;
}
.magic-list__item:hover .cursor{
    height: var(--height);
}
.cursor__image{
    --cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
    position: relative;
    width: calc(var(--width) * 2);
    height: calc(var(--height) * 2);
    top: calc(var(--height) * -.4);
    left: calc(var(--width) * -.25);
    background-size: cover;
    background-position: center;
    transform: var(--cursor-transform) scale(1.5);
    transition: transform var(--transition-cursor);
}
.magic-list__item:hover .cursor__image{
    transform: var(--cursor-transform) scale(1);
}

/* добавил стили блога вверх */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.Blockdsd{
  color: rgb(119, 69, 255);
  background-color: red;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
}
body._lock{
  overflow: hidden; /*недает скролить весь сайт при открытой меню*/
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    width: 85%; /* дописал котя */
    max-width: 1280px;
    margin: 0px auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.element-animation {
  opacity: 0;
  transform: translateY(-20px);
}
.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}
/*------------------------------hedera---------*/
.headera{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #000000;
}
.headera__container{
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.headera__logo{
  /*border-radius: 50%;
  background-color: #fff;*/
  position: relative;
  z-index: 5;
  /*width: 40px;
  height: 40px;*/
  width: 100%;
  max-width: 250px;
}
.headera__logo img{
  width: 50%;
  min-width: 200px;
  max-width: 300px;
}
.menu__icona{
  display: none;
}
.menu__lista > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.menu__linka{
  color: #ffffff;
  font-size: 15px;
}
.menu__linka:hover{
  text-decoration: underline;
}
.menu__sub-lista{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #0000009c;
  padding: 15px;
  min-width: 200px;
}
.menu__sub-lista li{
  margin: 0px 0px 10px 0px;
}
.menu__sub-lista li:last-child {
  margin: 0;
}
.menu__sub-linka{
  color: #ffffff;
}
.menu__sub-linka:hover{
  text-decoration: underline;
}
.menu__arrowa{
  display: none;
}
/*---------------------------------------*/
body._pc .menu__lista > li:hover .menu__sub-lista {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu__lista > li {
  display: flex;
  align-items: center;
}
body._touch .menu__linka {
  flex: 1 1 auto;
}
body._touch .menu__arrowa {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}
body._touch .menu__lista > li._active .menu__sub-lista {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu__lista > li._active .menu__arrowa {
  transform: rotate(-180deg);
}
/*---------------------------------------*/
@media (min-width: 767px) {
  .menu__lista{
      display: flex;
      align-items: center;
  }
  .menu__lista > li {
      padding: 10px 0;
  }
  .menu__sub-lista{
      transform: translate(0px, 10%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767px) {
  .menu__icona {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
  }
  .menu__icona span,
  .menu__icona::before,
  .menu__icona::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
  }
  .menu__icona::before,
  .menu__icona::after {
      content: "";
  }
  .menu__icona::before{
      top: 0;
  }
  .menu__icona::after{
      bottom: 0;
  }
  .menu__icona span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
  }
  .menu__icona._active span {
      transform: scale(0) translate(0px, -50%);
  }
  .menu__icona._active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icona._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__bodya{
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #000000cc;
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;  /*можно скролить меню шторку*/
  }
  .menu__bodya._active {
      left: 0;
  }
  .menu__bodya::before{
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
      background-color: #000000;
      z-index: 2;
  }
  .menu__lista > li {
      flex-wrap: wrap;
      margin: 0px 0px 20px 0px;
  }
  .menu__lista > li:last-child {
      margin-bottom: 0;
  }
  .menu__lista > li._active .menu__sub-lista{
      display: block;
  }
  .menu__linka {
      font-size: 24px;
  }
  .menu__sub-lista {
      position: relative;
      background-color: #00000000;
      flex: 1 1 100%;
      margin: 15px 0px 0px 0px;
      display: none;
  }
  .menu__sub-linka {
      font-size: 20px;
      color: #000;
  }
}
/*---------------------------------------*/
/*------------------------------heder---------*/
.header__bloc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3px 0;
    margin-top: 75px;
}
.header__contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
* {box-sizing: border-box;}
.search_form {
  position: relative;
  width: 280px;
  margin: 0 auto;
  background: #ffffff;
  border-bottom: 2px solid #020202;
}
.search_form:hover {
    box-shadow: 0 0 10px #030303;
}
.search-input, button {
  border: none;
  outline: none;
  background: transparent;
}
.search-input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  font-family: FontAwesome;
  font-size: 20px;
  color: #50504f;
}
.location{
    font-size: 14px;
    margin: 0 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.location img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
/*----------------------------------------section head-bloc-------*/
.head-bloc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.border-button {
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .border-button:before, .border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .border-button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .border-button:after {
    top: 0;
    right: 0;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(3, 3, 3);
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
  }
  .border-button:hover:before, 
  .border-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .border-button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  }
  .border-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }
  .border-button:hover {
    background: rgba(126, 126, 126, 0.336);
  }
/*----------------------------------------карточка-------*/
.Card_big{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}
.new{
    display: flex;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 330px;
    background-color: rgba(116, 115, 115, 0.103);
    margin: 5px 5px;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.card:hover {
    box-shadow: 0 0 10px #030303;
    transform: translateY(-5px);
}
.card__image{
    max-width: 165px;
    max-height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__image img{
    width: 100%;
}
.card__image:hover img{
    transform: scale(1.1);
    transition: 3s;
}
.card__title{
  font-size: 14px;
  margin-bottom: 5px;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}
.card__footer{
    display: flex;
    flex-direction: row;
}
.pcs__calc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;  
}
.pcs__calc-imput{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 22px;
}
.card__pcs{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card__pcs img{
    width: 100%;
}
.favorites-cart{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.card-footer-wrapper{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    justify-content: center;
}
.flip-btn {
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
    margin: 5px 5px;
    position: relative;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
  }
  .flip-btn:before, .flip-btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .flip-btn:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .flip-btn:after {
    top: 0;
    right: 0;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(3, 3, 3);
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
  }
  .flip-btn:hover:before, 
  .flip-btn:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .flip-btn:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  }
  .flip-btn:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }
  .flip-btn:hover {
    background: rgba(126, 126, 126, 0.336);
  }
  .card__body{
    text-align: center;
    margin: 5px 0;
  }
.card__body img{
  width: 50%;
}
/* Контейнер подсказок */
.tooltips{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tooltip {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
/* Текст подсказки */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 10px;
  /* Расположите текст подсказки */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -90px;
  /* Исчезают в подсказке */
  opacity: 0;
  transition: opacity 0.3s;
}
/* Отображение текста подсказки при наведении курсора мыши на контейнер подсказки */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip-tex{
  margin-left: 10px;
  font-size: 14px;
}
/*----------------------------------------развернутая кард лонг-------*/
.card-long{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-mini-gellery{
    max-width: 1000px;
    max-height: 800px;
}
.card-nav{
    margin-left: 100px;
}
.card-nav-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
.card-nav-text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    max-width: 460px;
}
.card-nav-price{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px; 
}
.card-nav-font{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.card-nav-font img{
    margin-right: 20px;
}
.font-text{
  font-family: Caveat;
  font-size: 24px;
}
.card-nav-gift{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.card-nav-gift img{
    margin-right: 20px;
}
.card-nav-pcs{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.card-nav-action{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.button-1 {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .1em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 110px 30px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #d4d4d4;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-1:hover:before {
    transform: translate(4px, 4px);
}

/*-----------------временная-кнопка-вотсапа-вместо избранного-и-корзины-------*/
.button-Whatsapp {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 17px 20px 30px 39px;
  transition: .2s ease-in-out;
  cursor: pointer;
  width: 100%;
}
.button-Whatsapp:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #d4d4d4;
  z-index: -1;
  transition: .25s ease;
  transform: translate(0, 0);
}
.button-Whatsapp:hover:before {
  transform: translate(4px, 4px);
}
/*----------------------------------------путь-------*/
.way-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.way-box a{
    color: #000;
}
.way-box img{
    width: 100%;
    max-width: 20px;
}
.category_path{
    padding: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.category_path:hover{
    box-shadow: 0 0 5px #4b4b4b;
}
/*----------------------------------------категории карточки-------*/
.categories_bloc-title{
  margin-bottom: 20px;
}
.sections__categories{
  margin-top: 30px;
  margin-bottom: 30px;
}
.categories_bloc{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}
.categories_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 155px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 10px;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.categories_card:hover {
  transform: translateY(-10px);
}
.categories_card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categories_card img{
  width: 100%;
}
.categories_card-name2{
  font-family: Caveat;
  margin-top: 5px;
  color: #000;
}
.categories_card-name1{
  margin-top: 5px;
  color: #000;
}
/*----------------------------------------тайтл доставка и скидки-------*/
.title_discounts{
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.title_discounts a{
  color: #000;
}
/*----------------------------------------дисконт карточки 3шт-------*/
.discounts{
  height: 400px;
  display: flex;
  align-items: center;
  background-color: rgb(207, 207, 207);
}
.discounts_box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}
.discounts_card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 250px;
  height: 250px;
  box-shadow: 0 10px 20px rgb(0, 0, 0), 0 10px 10px rgba(0,0,0,0.22);
  margin: 10px;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  background-color: rgb(250, 250, 250);
  padding-left: 25px;
}
.discounts_card:hover {
  transform: translateY(-10px);
}
.discounts_card_title{
  font-size: 20px;
}
/*----------------------------------------пагинация-------*/
.module-pagination{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.module-pagination a{
  color: rgb(80, 80, 80);
}
.pagination_load{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 35px;
  cursor: pointer;
}
.pagination_load:hover{
  background-color: rgb(253, 240, 255);
}
.pagination_box{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
}
.flex-prev{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.flex-prev:hover{
  background-color: rgb(253, 240, 255);
}
.numb{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.numb:hover{
  background-color: rgb(253, 240, 255);
}
.numb a{
  color: rgb(71, 71, 71);
}
.flex-next{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.flex-next:hover{
  background-color: rgb(253, 240, 255);
}
.numb-on{
  background-color: rgb(253, 240, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
/*----------------------------------------блок с услугами -------*/
.portfolio-wrap {
   max-width: 1120px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.portfolio-item {
   padding: 10px;
}
.portfolio-item a {
   display: block;
   text-decoration: none;
   color: white;
}
.portfolio-item-wrap {
   position: relative;
   overflow: hidden;
   text-align: center;
   box-shadow: 0 0 5px rgba(0, 0, 0, .2);
   background: black;
   color: white;
}
.portfolio-item img {
   display: block;
   width: 100%;
   opacity: .75;
   transition: .5s ease-in-out;
}
.portfolio-item-inner {
   position: absolute;
   top: 45%;
   left: 7%;
   right: 7%;
   bottom: 45%;
   border: 1px solid white;
   border-width: 0 1px 1px;
   transition: .4s ease-in-out;
}
.portfolio-heading {
   overflow: hidden;
   transform: translateY(-50%);
}
.portfolio-heading h3 {
   font-family: 'Pattaya', sans-serif;
   font-weight: normal;
   display: table;
   margin: 0 auto;
   padding: 0 10px;
   position: relative;
}
.portfolio-heading h3:before, .portfolio-heading h3:after {
   content: "";
   position: absolute;
   top: 50%;
   width: 50px;
   height: 1px;
   background: white;
}
.portfolio-heading h3:before {
   left: -50px;
}
.portfolio-heading h3:after {
   right: -50px;
}
.portfolio-item-inner ul {
   position: absolute;
   top: 50%;
   width: 100%;
   transform: translateY(-50%);
   padding: 0 20px;
   opacity: 0;
   list-style: none;
   font-family: 'Raleway', sans-serif;
   transition: .4s ease-in-out;
}
.portfolio-item-inner li {
   position: relative;
   font-size: 12px;
   padding: 10px 0;
   margin-bottom: 4px;
}
.portfolio-item-inner li:after {
   content: "";
   position: absolute;
   left: 50%;
   margin-left: -2px;
   bottom: -4px;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   background: white;
   box-shadow: 10px 0 0 white, -10px 0 0 white;
}
.portfolio-item-inner li:last-child:after {
   content: none;
}
.portfolio-item:hover img {
   opacity: 0.45;
   transform: scale(1.1);
}
.portfolio-item:hover .portfolio-item-inner {
   top: 7%;
   bottom: 7%;
}
.portfolio-item:hover ul {
   opacity: 1;
   transition-delay: .5s;
}
@media (min-width: 530px) {
   .portfolio-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 768px) {
   .portfolio-item {
      flex-basis: 33.333333333%;
   }
}
/*----------------------------------индивидшрифт------individual-------*/
.individual{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Caveat;
  font-weight: 800;
  font-size: 24px;
}
.individual-image img{
  width: 70%;
}
/*----------------------------------------футер-------*/
.Footer{
    background-color: rgb(192, 184, 192);
}
.head-bloc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.border-button {
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .border-button:before, .border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .border-button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .border-button:after {
    top: 0;
    right: 0;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(3, 3, 3);
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
  }
  .border-button:hover:before, 
  .border-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .border-button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  }
  .border-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }
  .border-button:hover {
    background: rgba(126, 126, 126, 0.336);
  }
  .footer-button {
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
    margin: 5px 5px;
    position: relative;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(3, 3, 3, 0.4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .footer-button:before, .footer-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .footer-button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .footer-button:after {
    top: 0;
    right: 0;
    border-right: 1px solid rgb(2, 2, 2);
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
  }
  .footer-button:hover:before, 
  .footer-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .footer-button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  }
  .footer-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }
  .footer-button:hover {
    background: rgb(255, 255, 255);
  }
  .footer__body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info{
    display: flex;
    flex-direction: column;
  }
  .info a{
    color: #000;
    margin: 8px 0;
  }
  .name{
    color: #000;
    margin: 30px 0;
  }
  .catalog{
    margin-top: 30px;
  }
  .we{
    margin: 30px 0;
  }
  .icons a{
    margin-right: 10px;
  }
  .icons img {
    width: 20%;
  }
  @media (max-width: 600px){
  .icons{
    display: flex;
    flex-direction: column;
  }
  .icons img {
    width: 35%;
    margin-top: 5px;
  }
  .border-button {
    padding: 10px 5px;
    margin: 5px 10px;
  }
}
@media (max-width: 430px){
  .name{
    margin: 15px 0;
}
  .footer__body{
    font-size: 12px;
  }
  .border-button {
    padding: 10px 5px;
    margin: 5px 10px;
  }
  .icons{
    display: flex;
    flex-direction: column;
  }
  .icons img{
    width: 35%;
    margin-top: 5px;
  }
  .we{
    margin: 15px 0;
  }
  .footer-button {
    padding: 5px 5px;
    margin: 5px 5px;
    border: 1px solid rgba(3, 3, 3, 0.4);
    letter-spacing: 1px;
    font-size: 10px;
  }
}
/*-----------------card-long-------ballon--------карта развернутая----*/
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 500px;
  max-height: 500px;
  }
  .mySlides-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
  }
  /* Hide the images by default */
  .mySlides {
  display: none;
  }
  .image-min{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    max-height: 80px;
    overflow: hidden;
  }
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
  cursor: pointer;
  }
  /* Next & previous buttons */
  .prev,
  .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }
  /* Number text (1/3 etc) */
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  /* Container for image text */
  .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  }
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  /* Six columns side by side */
  .column {
  float: left;
  width: 16.66%;
  }
  /* Add a transparency effect for thumnbail images */
  .demo {
  opacity: 0.6;
  }
  .active,
  .demo:hover {
  opacity: 1;
  }
  /*-----------------cart----------корзина----*/
.cart-image{
  width: 175px;
  height: 175px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 175px;
  min-width: 175px;
}
.cart-image img{
  width: 100%;
}
.cart-blok{
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(3, 3, 3, 0.4);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  padding: 10px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  font-size: 22px;
  font-weight: 600;
}
.cart-pcs__calc{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-name{
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
}
.total-price{
  display: flex;
  flex-direction: row;
  font-size: 22px;
  font-weight: 600;
  
}
.total-price-name{
  margin-right: 50px;
}
.cart-title{
  max-width: 230px;
  margin-right: 10px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}
.cart-price{
  margin-right: 5px;
  margin-top: 20px;
}
.cart-sum{
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conteiner-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*----------------------------------------media-------*/
@media (max-width: 1030px){
    .location{
        font-size: 12px;
    }
    .search_form {
        width: 200px;
    }
    .menu__list{
        font-size: 14px;
    }
    .card-nav{
      margin-left: 50px;
  }
  .card-nav-title{
      font-size: 26px;
      margin-bottom: 25px;
  }
  .card-nav-text{
      font-size: 16px;
      margin-bottom: 15px;
  }
  .card-nav-price{
      font-size: 24px;
      margin-bottom: 15px; 
  }
  .card-nav-font{
      margin-bottom: 15px;
      font-size: 16px;
  }
  .card-nav-gift{
      margin-bottom: 15px;
      font-size: 16px;
  }
  .card-nav-pcs{
      margin-bottom: 15px;
  }
  .button-1 {
    font-weight: 600;
    padding: 17px 110px 30px 15px;
  }
}
@media (max-width: 992px){
    ._container {
        width: 90%;
    }
    .button-1 {
      font-weight: 600;
      padding: 17px 110px 30px 15px;
      letter-spacing: 0ch;
    }
}
@media (max-width: 850px){
  .card-long{
    flex-direction: column;
  }
}
@media (max-width: 770px){
    ._container {
        width: 95%;
    }
    .search_form {
        width: 170px;
    }
    .tel{
        font-size: 14px;
    }
    .card-nav{
      margin-left: 15px;
    }
    .cart-blok{
      height: 150px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .cart-image{
      width: 135px;
      height: 135px;
      min-width: 135px;
      min-height: 135px;
    }
    .cart-title{
      font-size: 16px;
      max-width: 170px;
    }
    .cart-price{
      font-size: 18px;
    }
    .cart-sum{
      font-size: 18px;
    }
    .cart-pcs__calc{
      width: 90px;
      min-width: 90px;
    }
    .cart-pcs__calc img{
      width: 100%;
    }
    .btn-delete{
      width: 50px;
      min-width: 50px;
    }
    .btn-delete img{
      width: 100%;
    }

}
@media (max-width: 590px){
  .cart-title{
    font-size: 16px;
    max-width: 120px;
  }
}
@media (max-width: 550px){
  .discounts{
    height: 280px;
  }
  .discounts_card{
    padding-left: 10px;
    height: 220px;
  }
  .discounts_card_title{
    font-size: 14px;
  }
  .discounts_card_text{
    font-size: 12px;
  }
  .cart-image{
    width: 110px;
    height: 110px;
    min-width: 110px;
    min-height: 110px;
  }
  .cart-blok{
    height: 130px;
    padding: 5px;
  }
  .cart-title {
    font-size: 14px;
    max-width: 100px;
  }
  .cart-sum {
    font-size: 16px;
  }
  .btn-delete {
    width: 40px;
    min-width: 40px;
  }
  .cart-pcs__calc {
    width: 80px;
    min-width: 80px;
  }
  .btn-delete {
    width: 30px;
    min-width: 30px;
  }
}
@media (max-width: 430px){
    ._container {
        width: 97%;
    }
    .header__bloc{
        flex-direction: column;
    }
    .header__logo{
        width: 70%;
    }   
    .search_form {
        width: 130px;
        border-bottom: 1px solid #020202;
    }
    .location{
        font-size: 12px;
        margin: 0 15px;
        margin-top: 5px;
    }
    .tel{
        font-size: 12px;
    } 
    .menu__list{
        height: 30px;
        flex-wrap: wrap;
    }
    .nav-menu{
        padding: 0;
        margin: 10px 6px;
    }
    .menu__list{
        line-height: 10px;
    }
    .menu__item{
        margin: 10px 0;
    }
    .menu {
        height: 65px;
    }
    .card-nav{
      margin-left: 0px;
    }
    .way-box{
      padding: 10px;
      font-size: 12px;
    }
    .categories_card-name1{
      font-size: 14px;
    }
    .categories_card-name2{
      font-size: 14px;
    }
    .individual-text{
      font-size: 16px;
    }
    .individual-image img {
      width: 60%;
    }
    .title_discounts {
      font-size: 20px;
    }
    .discounts_card img{
      width: 40%;
    }
    .discounts_card{
      padding-left: 5px;
      margin: 5px;
    }
    .cart-price {
      font-size: 14px;
    }
    .cart-sum {
      font-size: 14px;
    }
    .pcs__calc-imput {
      font-size: 18px;
    }
    .cart-image {
      width: 80px;
      height: 80px;
      min-width: 80px;
      min-height: 80px;
    }
    .cart-blok {
      height: 95px;
    }
    .total-price {
      flex-direction: column;
      font-size: 20px;
      font-weight: 500;
    }
    .total-price-name {
      margin-bottom: 10px;
    }
    .head-bloc {
      margin-top: 15px;
      margin-bottom: 15px;
    }
}
@media (max-width: 393px){
  .card{
    width: 142px;
    height: 310px;
    margin: 5px 5px;
  }
  .card__image{
    max-width: 165px;
    max-height: 160px;
}
.card__title{
  font-size: 12px;
  margin-bottom: 4px;
  width: 141px;
}
.pcs__calc{
    width: 100%;  
}
.pcs__calc-imput{
    font-size: 20px;
}
.tooltips{
  display: flex;
  flex-direction: row;
}
.card-footer-wrapper{
  width: 136px;
}
}
@media (max-width: 375px){
  .categories_card{
    width: 130px;
    height: 130px;
    margin: 7px;
  }
  .cart-title {
    font-size: 12px;
    max-width: 90px;
  }
  .cart-pcs__calc {
    width: 70px;
    min-width: 70px;
  }
  .cart-sum {
    font-size: 12px;
  }
  .cart-blok {
    padding: 1px;
  }
  .cart-image {
    width: 50px;
    height: 70px;
    min-width: 50px;
    min-height: 70px;
  }
  .cart-image {
    min-width: 50 px;
}
}
@media (max-width: 330px){
    ._container {
        width: 95%;
    }
    .header__logo{
        width: 90%;
    }
    .header__contact{
        display: flex;
        flex-direction: column;
    }   
    .search_form {
        width: 230px;
        border-bottom: 1px solid #020202;
    }
    .location{
        font-size: 12px;
        margin: 10px 5px;
    }
    .tel{
        font-size: 16px;
    } 
    .menu__list{
        font-size: 12px;
    }
    
}
@media (max-width: 320px){
  .categories_card{
    width: 120px;
    height: 120px;
    margin: 5px;
  }
  .discounts_card{
    height: 200px;
    margin: 3px;
  }
}
