<!--
name = models.CharField(max_length=150)
image = models.ImageField('Основное фото', upload_to="photo/", null=True, blank=True)  # фото  https://qna.habr.com/q/218059
short_description =  models.CharField(max_length=1000, blank=True)
description = models.TextField('Описание', blank=True)
price = models.IntegerField('Цена', blank=True, null=True)  # цена
color = models.ForeignKey(Color, verbose_name="Цвет", on_delete=models.SET_NULL, null=True, blank=True)
category = models.ManyToManyField('Category', blank=True, verbose_name="Категории")
slug = models.SlugField(max_length=250,unique=True, db_index=True, verbose_name='URL')
availability = models.BooleanField("Наличие", default=False, blank=True) # Наличие по дефолту нет.
size = models.IntegerField("размер см", blank=True,                                          null=True)  # размер см
helium = models.BooleanField("Гелий да/нет", default=False, blank=True)  # "Гелий да/нет" по дефолту нет.
processing = models.BooleanField("Обработка да/нет", default=False, blank=True)  # "Обработка да/нет" по дефолту нет.
air = models.BooleanField("Воздух да/нет", default=False, blank=True)  # "Воздух да/нет" по дефолту нет.

product_balloon.name
-->


{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'shop/style.css' %}" type="text/css"/> -->
baloon
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <div class="way-box _container">
        <div class="category_path"><a href="/shop/">Главная</a></div>
        <div class="categories_path">
            <div class="category_path">
                <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">
                <a href="/{{ last_category.url }}">{{ last_category.name }}</a>
            </div>
        </div>
        <div class="categories_path">
            <div class="category_path">
                <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">
                <a href="{{ product_balloon.url }}">{{ product_balloon.name }}</a>
            </div>
        </div>
    </div>



    <section class="card-long _container">
    <div class="card-mini-gellery">

        <div class="container">
            {% for img in product_balloon.prodimg.all %}
            <div class="mySlides">
            <img src="{{ img.image.url }}" alt="продукт" style="width:100%">
            </div>
            {% endfor %}

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <div class="row">
                {% if product_balloon %}
                {% for img in product_balloon.prodimg.all %}
                <div class="column">
                <img class="demo cursor" src="{{ img.image.url }}" style="width:100%" onclick="currentSlide({{ forloop.counter }})" alt="Изображение">
                </div>
                {% endfor %}
                {% endif %}


            </div>
        </div>




        <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
        }
        </script>
            
    </div>
    <div class="card-nav">
        <div class="card-nav-title"><h2>{{ product_balloon.name }}</h2></div>
        <div class="card-nav-text"><h4>Фольгированный шар, размер 45 см<br>Наполнение - гелий</h4></div>
        <div class="card-nav-price">800 руб. - 1 шт</div>
        <div class="card-nav-font">
            <img src="{% static 'shop/foto/owl 1.png' %}" alt="">
            <div class="font-text">Индивидуальная надпись  с любым<br>текстом и шрифтом по запросу</div>
        </div>
        <div class="card-nav-gift">
            <img src="{% static 'shop/foto/gift5 1.png' %}" alt="">
            <div class="gift-text">Бесплатная доставка от 1000р<br>по г. Сосновый бор и области</div>
        </div>
        <div class="tooltip"><img src="{% static 'shop/foto/h2o 1.png' %}" alt="">
            <span class="tooltiptext">Обработка для увеличения времени полета</span>
            <div class="tooltip-tex">Обработка для увеличения времени полета</div>
        </div>
        <div class="tooltip"><img src="{% static 'shop/foto/He 1.png' %}" alt="">
            <span class="tooltiptext">Шар наполняется безопасным инертным газом гелием</span>
            <div class="tooltip-tex">Шар наполняется безопасным инертным газом гелием</div>
        </div>
        <div class="tooltip"><img src="{% static 'shop/foto/oblako.png' %}" alt="">
            <span class="tooltiptext">Шар наполняется воздухом</span>
            <div class="tooltip-tex">Шар наполняется воздухом</div>
        </div>
        <div class="card-nav-pcs">
            <div class="pcs__calc">
                <div class="pcs__calc-minus"><img src="{% static 'shop/foto/minuss.png' %}" alt=""></img></div>
                <div class="pcs__calc-imput">1</div>
                <div class="pcs__calc-plus"><img src="{% static 'shop/foto/plus.png' %}" alt=""></img></div>
            </div>
        </div>
        <div class="card-nav-action">
            <a href=""><button class="button-1">+Корзина</button></a>
            <a href=""><button class="button-1">+Избранное</button></a>
            
        </div>
    </div>
</section>
<script src="{% static 'shop/script.js' %}"></script>

{% endblock %}