<!doctype html>
{% load static %}
{% load mptt_tags %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap&subset=cyrillic-ext" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'shop/style.css' %}" type="text/css"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(93548486, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/93548486" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <title>Kikimora Balloon шары Сосновый Бор</title>
</head>
<body>

    <div class="wrapper">
        <header class="headera">
            <div class="headera__container">
                <a href="/" class="headera__logo"><img src="{% static 'shop/foto/logo-kikimora.jpg' %}" alt="">
                    <!-- <div class="kikimora-black"><img src="{% static 'shop/foto/KIKIMORA-white.png' %}" alt=""></div>--></a> 
                <div class="header__menu menua">
                    <div class="menu__icona">
                        <span></span>
                    </div>

                    <nav class="menu__bodya">
                        <ul class="menu__lista">
                            <li><a href="/" class="menu__linka">Главная</a></li>
                            <li><a href="/blog" class="menu__linka">Статьи</a></li>
                            {% if categories %}
                            {% recursetree categories %}
                            <li>
                                <a href="{{ node.get_absolute_url }}" class="menu__linka">
<!--                                   <a onclick="window.scrollTo({ top: 500, behavior: 'smooth'});"> -->
                                       {{ node.name }}
<!--                                   </a>-->

                                </a>
                                {% if not node.is_leaf_node %}
                                <span class="menu__arrowa"></span>
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                <ul class="menu__sub-lista">
                                    {{ children }}

                                </ul>
                                {% endif %}
                            </li>
                            {% endrecursetree %}
                            {% endif %}

                            <li><a href="/promotions_page" id="top" class="menu__linka">Акции</a></li>
                            <li><a href="https://vk.com/kikimora.balloon" class="menu__linka">Мы в ВК</a></li>
                            <li><a href="/cart" class="menu__linka">
                                    <div class="menu-korzin">
                                        <div class="menu-korzin-img"><img src="{% static 'shop/foto/Mask-korzina.png' %}" alt=""></div>
                                        <div class="menu-korzin-numb">{{ cart_count }}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <header class="header">
            <div class="header__container _container">
                <div class="header__bloc">
                    <search class="search">
                        <div class="search_form">
                            <form method="GET" action="{% url 'search' %}"  id="searchform">
                            <input type="text" name="q" value="{{ request.GET.q }}" class="search-input" placeholder="Поиск...">
                            <button type="submit"><img src="{% static 'shop/foto/magnifier 1.png' %}" alt=""></button>
                            </form>
                        </div>
                    </search>
                    <div class="location">
                        <img src="{% static 'shop/foto/mesto-sosnov-bor 1.png' %}" alt="">
                        <p>г. Сосновый Бор, Ленинградская обл.</p>
                    </div>
                </div>
            </div>
        </header>

    <!-- <section class="head-bloc _container">
            <div class="title"><h3>НОВИНКИ</h3></div>
            <div class="head-button">
                <a href="" class="border-button">Весь каталог</a>
            </div>
    </section> -->


{% block content %}
{% endblock %}

<div class="watsap">
    <div class="watsap-form _container">
        <section class="head-bloc-watsap _container">
            <div class="title"><h3>СВЯЗАТЬСЯ С НАМИ</h3></div>
            <div class="head-button">
                <a href="https://wa.me/+79668674747?text=Здравствуйте, хочу оформить заказ!" class="border-button">WhatsApp</a>
            </div>
        </section>
    </div>
</div>

<div class="title_discounts _container"><a href="#top" id="bottom"><h3>АКЦИИ :</h3></a></div>

<div class="discounts">
    <div class="discounts_box _container">
        {% for promotion in promotions_list %}
            <div class="discounts_card">
                <a href="/promotions/{{ promotion.slug }}">
                    <div class="discounts_card-png"><img src="/media/{{ promotion.image }}" alt=""></div>
                    <div class="discounts_card_title">{{ promotion.title }}</div>
                    <div class="discounts_card_text">{{ promotion.short_description }}</div>
                </a>
            </div>
        {% endfor %}
        
    </div>
</div>

<div class="Footer">
        <div class="footer _container">
            <div class="footer__body">
                <div class="info">
                    <div class="name">ИНФОРМАЦИЯ:</div>
                    {% for footer_page in footer_page_list %}
                    <a href="/footer_page/{{ footer_page.slug }}">{{ footer_page.title }}</a>

                    {% endfor %}
                </div>
<!--                <div class="catalog">-->
<!--                    <div class="head-button">-->
<!--                        <a href="" class="border-button">Главная</a>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="contact">
                    <div class="we">О НАС</div>
                    <div class="we">МЫ В СОЦСЕТЯХ:</div>
                    <div class="icons">
<!--                        <a href="https://instagram.com/kikimora.balloon?igshid=YmMyMTA2M2Y="><img src="{% static 'shop/foto/instagram.png' %}" alt="instagram"></img></a>-->
                        <div class="vk"><a href="https://vk.com/kikimora.balloon"><img src="{% static 'shop/foto/vk.png' %}" alt="vk"></img></a></div>
                        <div class="wa"><a href="https://wa.me/+79668674747?text=Здравствуйте, хочу оформить заказ!"><img src="{% static 'shop/foto/whatsapp.png' %}" alt="whatsapp"></img></a></div>
                    </div>
                </div>
            </div>
<!--            {% if categories %}-->
<!--            <div class="footer__back">-->
<!--                {% for category in categories %}-->
<!--                <a href="/{{ category.url }}" class="footer-button">{{ category.name }}</a>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--            {% endif %}-->
        </div>
    </div>

<script src="{% static 'shop/script.js' %}"></script>

</body>
</html>