<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Blog</title>-->
<!--    <link rel="stylesheet" href="./style.css">-->
<!--    <script src="./script.js" defer></script>-->
<!--</head>-->

<!--<body>-->

{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

<div class="way-box _container">
    <div class="category_path"><a href="/">Главная</a></div>
    <div class="categories_path">
        <div class="category_path">
            <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">
            <a href="/blog">Блог</a>
        </div>
    </div>
    <div class="categories_path">
    </div>
</div>

{% if post_list %}




<div class="blog-blog">
    <div class="mini-blog _container">
        {% for post in post_list %}
        <div class="blog-img"><a href="/post/{{ post.slug }}"><img src="{% static 'shop/foto/provercaaaa.jpg' %}" alt=""></a></div>
        <div class="title-blog"><a href="/post/{{ post.slug }}">{{ post.title }}</a></div>
        <div class="text-blog"><a href="/post/{{ post.slug }}">вы узнаете как надуть шар... читать</a></div>
        {% endfor %}
    </div>
</div>

<!--<script src="{% static 'shop/script_blog.js' %}"></script>-->


{% endif %}

{% endblock %}





<!--</body>-->
<!--</html>-->