{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'shop/style.css' %}" type="text/css"/>

{{ cart }} количество товаров {{ cart_count }}
<div class="way-box _container">
    <div class="category_path"><a href="/">Главная</a></div>
    <div class="categories_path">
        <div class="category_path">
            <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">
            <a href="{{ last_category.url }}">Корзина</a>
        </div>
    </div>
    <div class="categories_path">
<!--        <div class="category_path">-->
<!--            <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">-->
<!--            <a href="{{ product.url }}">{{ product.name }}</a>-->
<!--        </div>-->
    </div>
</div>


<section class="cart">
    <div class="cart-body _container">
        <!-- <div class="cart-name"><h3>КОРЗИНА</h3></div>  -->
        {% if cart %}
        {% for product in cart %}
        <div class="cart-blok">
            <div class="cart-image"><a href=""><img src="/media/{{ product.image }}" alt=""></a></div>
            <div class="conteiner-cart">
                <div class="cart-title">{{ product.name }}</div>
                <div class="cart-price">{{ product.price }} руб.</div>
            </div>    
            <div class="cart-pcs__calc">
                <div class="pcs__calc-minus"><img src="{% static 'shop/foto/minuss.png' %}" alt=""></img></div>
                <div class="pcs__calc-imput">1</div>
                <a href="?add_to_cart={{ product.id }}"><div class="pcs__calc-plus"><img src="{% static 'shop/foto/plus.png' %}" alt=""></img></div></a>
            </div>
            <div class="cart-sum">4584 руб.</div>
            <div class="btn-delete"><a href=""><img src="{% static 'shop/foto/delete.png' %}" alt=""></a></div>
        </div>
        {% endfor %}
        {% else %}

        {% endif %}
    </div>
</section>


<section class="cart">
    <div class="cart-body _container">
        <div class="cart-name"><h3>КОРЗИНА</h3></div> 
        
        <div class="cart-blok">
            <div class="cart-image"><a href=""><img src="{% static 'shop/foto/4 (2).jpg' %}" alt=""></a></div>
            <div class="conteiner-cart">
                <div class="cart-title">Шары сердце 5шт</div>
                <div class="cart-price">1485 руб.</div>
            </div>    
            <div class="cart-pcs__calc">
                <div class="pcs__calc-minus"><img src="{% static 'shop/foto/minuss.png' %}" alt=""></img></div>
                <div class="pcs__calc-imput">1</div>
                <a href="?add_to_cart={{ product.id }}"><div class="pcs__calc-plus"><img src="{% static 'shop/foto/plus.png' %}" alt=""></img></div></a>
            </div>
            <div class="cart-sum">4584 руб.</div>
            <div class="btn-delete"><a href=""><img src="{% static 'shop/foto/delete.png' %}" alt=""></a></div>
        </div>

        <div class="cart-blok">
            <div class="cart-image"><a href=""><img src="{% static 'shop/foto/4 (2).jpg' %}" alt=""></a></div>
            <div class="conteiner-cart">
                <div class="cart-title">Шары сердце 5шт</div>
                <div class="cart-price">1485 руб.</div>
            </div>    
            <div class="cart-pcs__calc">
                <div class="pcs__calc-minus"><img src="{% static 'shop/foto/minuss.png' %}" alt=""></img></div>
                <div class="pcs__calc-imput">1</div>
                <a href="?add_to_cart={{ product.id }}"><div class="pcs__calc-plus"><img src="{% static 'shop/foto/plus.png' %}" alt=""></img></div></a>
            </div>
            <div class="cart-sum">4584 руб.</div>
            <div class="btn-delete"><a href=""><img src="{% static 'shop/foto/delete.png' %}" alt=""></a></div>
        </div>
    
    </div>
</section>


<section class="head-bloc _container">
    <div class="total-price">
        <div class="total-price-name">Итого:</div>
        <div class="total-price-sum">0 руб.</div>
    </div>
    <div class="head-button">
        <a href="" class="border-button">Оформить заказ</a>
    </div>
</section>

{% endblock %}


<!--<script src="{% static 'shop/script.js' %}"></script>-->