{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<link href="{% static 'shop/nouislider.min.css' %}" rel="stylesheet">


<!-- блок с карточками -->
<div class="Card_big _container">


<div class="way-box _container">
    <div class="category_path"><a href="/">Главная</a></div>
        {% if parents %}
            {% for category in parents %}
            <div class="category_path">
                <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">
                <a href="/{{ category.url }}">{{ category.name }} </a>
            </div>
            {% endfor %}
        {% endif %}
        <div class="category_path">
            <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">
            <a href="/{{ last_category.url }}">{{ last_category.name }} </a>
        </div>
    <div class="categories_path">
<!--        <div class="category_path">-->
<!--            <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">-->
<!--            <a href="{{ product.url }}">{{ product.name }}</a>-->
<!--        </div>-->
    </div>
</div>

{% if categories %}
<div class="footer__back">
    {% for category in branch_categories %}
    <a href="/{{ category.url }}" class="footer-button">{{ category.name }}</a>
    {% endfor %}
</div>
{% endif %}

<!-- контейнер с фильтром и карточками начало -->
<div class="container-filter-card">

    <div class="container-filter">

        <!-- <details> -->
            <!-- <summary>Фильтр</summary> -->
            <div class="filter-on">
                <div class="filter-name">Фильтр</div>
                <div>
                <!--    основной блок фильтра-->


                <form method = "get" id="filter-form">
                <!--    цена от {{ filter.form.price__gt}}-->
                <!--    цена до {{ filter.form.price__lt }}-->
                    
                    <br>
                <div id="slider"></div>
                    <br>
                                <div class="filters-price__inputs">
                                    <label class="filters-price__label">
                                    <span class="filters-price__text1">от</span>
                                        {% render_field filter.form.price__gt class="filters-price__input" min="{{ min_price }}" max="{{ max_price }}" placeholder="500" id="input-price-0" %}
                                    <span class="filters-price__text">₽</span>
                                    </label>
                                    <br>
                                    <label class="filters-price__label">
                                    <span class="filters-price__text1">до</span>
                                        {% render_field filter.form.price__lt class="filters-price__input" min="{{ min_price }}" max="{{ max_price }}" placeholder="299999" id="input-price-1" %}
                                    <span class="filters-price__text">₽</span>
                                    </label>
                                </div>


                    <br>
                <div id="slider2"></div>

                <!-- <input type="submit" value="Цвет" id="my-button"></p> -->

                    <!--    основной блок фильтра-->
                </div>

                <!-- будет ли фильтр по возрастанию и убыванию цены -->

                <div class="colors" onclick="ShowColors()">
                    <!-- <div class="colors-open-img">

                    </div> -->
                    Цвета<img id="colors-img-id" src="{% static 'shop/foto/arrow-down.png' %}" alt="">
                
                </div>

                <div class="color-det" id="color-det-id">
                    <!-- <details> -->
                        
                        {% for color in colors %}

                        <div class="checkbox-wrapper-39">
        <!--                    <label>-->
        <!--                    <input type="checkbox"/>Красный-->
        <!--                    <span class="checkbox"></span>-->
        <!--                    </label>-->

                            <input type="checkbox" class="checkbox_color" value="{{ color.name }}" id="checkbox_color{{ forloop.counter }}">
                            <label for="checkbox_color{{ forloop.counter }}">{{ color.name }}</label><br>
                        </div>

                        {% endfor %}
                
        <!--                <div class="checkbox-wrapper-39">-->
        <!--                    <label>-->
        <!--                    <input type="checkbox"/>Красный-->
        <!--                    <span class="checkbox"></span>-->
        <!--                    </label>-->
        <!--                </div>-->
                    <!-- </details> -->
        <!--            <input type="submit" value="Показать" onclick="SendGetReq()" id="my-button"></p>-->

                    </form>
                </div> 
                <div class="filter-show-b" onclick="ClickShow()">Показать</div>   
            </div>
        <!-- </details> -->    
    
    </div>    


    <div class="container-card">
        {% if products_list %}
        {% for product in products_list %}

        <div class="card element-animation">
            <div class="card__header"><a href="{{ product.slug }}">
                <div class="card__image"><img src="/media/{{ product.image }}" alt=""></img></div>
            </a></div>
            <div class="card__body">
                <a href="{{ product.slug }}"><div class="card__title">{{ product.name }}</div></a>
                <div class="card__price">{{ product.price }} руб.</div>
                <!-- <div class="tooltips">
                    {% if product.processing %}
                    <div class="tooltip"><img src="{% static 'shop/foto/h2o 1.png' %}" alt="">
                        <span class="tooltiptext">Обработка для увеличения времени полета</span>
                    </div>
                    {% endif %}
                    {% if product.helium %}
                    <div class="tooltip"><img src="{% static 'shop/foto/He 1.png' %}" alt="">
                        <span class="tooltiptext">Шар наполняется безопасным инертным газом гелием</span>
                    </div>
                    {% endif %}
                    {% if product.air %}
                    <div class="tooltip"><img src="{% static 'shop/foto/oblako.png' %}" alt="">
                        <span class="tooltiptext">Шар наполняется воздухом</span>
                    </div>
                    {% endif %}
                </div>     -->
            </div>

            <div class="card-footer-wrapper">
                <div class="card__footer">
                    <div class="card__pcs">
                        <!-- <div class="pcs__calc">
                            <div class="pcs__calc-minus"><img src="{% static 'shop/foto/minuss.png' %}" alt=""></img></div>
                            <div class="pcs__calc-imput">1</div>
                            <div class="pcs__calc-plus"><img src="{% static 'shop/foto/plus.png' %}" alt=""></img></div>
                        </div> -->
                        <div class="favorites-cart" onclick="AddToCart({{ product.id }})">
                            <!-- <a href=""><img src="{% static 'shop/foto/favorites.png' %}" alt="favorites"></img></a> -->
                            <img src="{% static 'shop/foto/cart.png' %}" alt="cart"></img>
                        </div>    
                    </div>
                
                </div>
                <a href="{{ product.slug }}" class="flip-btn">Подробно</a>
            </div> 
        </div>

        {% endfor %}
        {% endif %}
    </div>    
</div>
<!-- контейнер с фильтром и карточками конец -->  
  
<div class="module-pagination _container">
<!--    <div class="pagination_load"><a href="">Показать еще</a></div>-->
    <div class="pagination_box">
        {% if products_list.has_previous %}
        <a href="/{{ last_category.url }}/?page={{ products_list.previous_page_number }}">
        <div class="flex-prev"><img src="{% static 'shop/foto/arrow-l.png' %}" alt=""></div>
        </a>
        {% endif %}
        {% for page_number in products_list.paginator.page_range %}
        {% if page_number == products_list.number %}
        <a href="/{{ last_category.url }}/?page={{ page_number }}">
        <div class="numb-on">{{ page_number }}</div>
        </a>
        {% else %}
        <a href="/{{ last_category.url }}/?page={{ page_number }}">
        <div class="numb">{{ page_number }}</div>
        </a>
        {% endif %}
        {% endfor %}
        {% if products_list.has_next %}
        <a href="/{{ last_category.url }}/?page={{ products_list.next_page_number }}">
        <div class="flex-next"><img src="{% static 'shop/foto/arrow-r.png' %}" alt=""></div>
        </a>
        {% endif %}
    </div>
</div>

</div>
<!-- Закончился блок с карточками -->


<!--Скрипт вставки значений чекбоксов-->
<script src="{% static 'shop/nouislider.min.js' %}"></script>

<script>



var colors = []
let max_price = {{ max_price }}
let min_price = {{ min_price }}


var currentUrl = window.location.href;
console.log(currentUrl)
let last_url = ''
if (currentUrl.split('?')[1]) {

    var filter_string=currentUrl.split('?')[1]
    var base_url=currentUrl.split('?')[0]
    console.log('if filterstring')
    console.log(filter_string)
    filter_set = filter_string.split('&')
        if (filter_set.length==2){
            console.log('if filterset =2')

        }else if (filter_set.length==3){
        console.log('if filterset =3')

        }else{
        console.log('else filterset')
        filter_string=`price__gt=${min_price}&price__lt=${max_price}`
        }


    }
else {
    console.log('else filterstring')
    var filter_string=`price__gt=${min_price}&price__lt=${max_price}`
    var base_url=currentUrl
    console.log(filter_string)
    }
var price_gt=filter_string.split('&')[1].split('=')[1]
var price_lt=filter_string.split('&')[0].split('=')[1]
console.log(price_lt)
console.log(price_gt)

//выставляем нажатые чекбоксы
if (currentUrl.split('?')[1]){
    if (currentUrl.split('?')[1].split('&')[2]) {
        console.log("цена есть, цвета есть")
        console.log(currentUrl.split('?')[1].split('&')[2])

            var arr_colors = currentUrl.split('?')[1].split('&')[2].split('=')[1].split(',')
            console.log(arr_colors)
            arr_colors.forEach((item, i)=>{
                arr_colors[i] = decodeURI(arr_colors[i])
            })
            console.log(arr_colors)
            var checkboxes2 = document.querySelectorAll("input[type=checkbox][class=checkbox_color]");

            //хендлер чекбоксов2
            checkboxes2.forEach((el, index) => {

                if (arr_colors.includes(el.value)) {
                    el.checked = true
                    console.log('это if IFFFF')
                    console.log(el.value)
                    console.log(el.checked)
                    colors.push(el.value)
                }
                console.log(el.value)
            });
    last_url = base_url+'?'+`price__gt=${min_price}&price__lt=${max_price}`+'&'+'color__name='+colors

    }else{console.log("цена есть, цветов нет")}
}else{console.log("ни цены ни цветов")}

//выставляем нажатые чекбоксы


//нажатие кнопки показать

let filterForm = document.getElementById("filter-form"  );
//обработка кнопки
document.getElementById("filter-form").addEventListener("click", function(event){
  event.preventDefault()
});

//нажатие кнопки показать


function SendGetReq(link) {
  console.log("Отправка формы")
  console.log(link)
  document.location.replace(link)
  //filterForm.submit()
}
function ClickShow(){
    //Если last_url пуста то задать только цену
    if (last_url == '') {console.log("last_url if")
    last_url = base_url+'?'+`price__gt=${min_price}&price__lt=${max_price}`
    }
    console.log("last_url in ClickShow:", last_url)
    //    console.log("last_url: ",last_url)
    SendGetReq(last_url)
}


// nouislider
//слайдер цены
var slider = document.getElementById('slider');

noUiSlider.create(slider, {
    start: [price_lt, price_gt],
    connect: true,
    range: {
        'min': min_price,
        'max': max_price
    }
});

const input_price_0 = document.getElementById('input-price-0');
const input_price_1 = document.getElementById('input-price-1');
const inputs_price = [input_price_0, input_price_1];

slider.noUiSlider.on('update', function(values, handle){
    inputs_price[handle].value = Math.round(values[handle]);
});
slider.noUiSlider.on("change", function() {
    //SendGetReq()
});

const setSslider = (i, value) => {
    let arr = [null,null];
    arr[i] = value;
    slider.noUiSlider.set(arr);

};

inputs_price.forEach((el, index) => {
    el.addEventListener('change', (e) => {
        setSslider(index, e.currentTarget.value);
        //SendGetReq()
    });
});


// nouislider

console.log('LOGGGG')
var checkboxes = document.querySelectorAll("input[type=checkbox][class=checkbox_color]");

//хендлер чекбоксов
checkboxes.forEach((el, index) => {
    el.addEventListener('change', (e) => {
        console.log("нажат чекбокс")
        console.log(el.value)
        setColors(el.value)
        console.log('colors:',colors)
        //меняем ссылку и делаем запрос включающий чекбоксы
        console.log(base_url+'?'+filter_string+'&'+'color__name='+colors)
        //document.location.replace(base_url+'?'+filter_string+'&'+'color__name='+colors)
        last_url = base_url+'?'+`price__gt=${min_price}&price__lt=${max_price}`+'&'+'color__name='+colors
        console.log("last_url: ",last_url)


        //меняем ссылку и делаем запрос включающий чекбоксы
    });
});
console.log("чекбоксы: ",checkboxes)

//хендлер чекбоксов

//получаем выбранные чекбоксы
function setColors(new_color){
console.log('функция проверки цветов')
    if (colors.length == 0) {
        colors.push(new_color)
    } else {
      var go_exit = false
      for (var index = 0; index < colors.length; index++) {
           if (colors[index] == new_color) {
           colors = colors.filter(i => i != new_color)
           go_exit = true
           }
      }
      if (go_exit) {
      }else{
      colors.push(new_color)
      }
    }
console.log('Текущий список цветов:', colors)
}
//let enabledSettings = []
//var inputs = document.querySelectorAll("input[id=form1]");


console.log('js прочитан до конца')

</script>

<script>
setTimeout(() => {

window.scrollBy({
    top: 150,
    behavior: "smooth"
});

}, 300);

</script>
<script src="{% static 'shop/nouislider.min.js' %}"></script>

{% endblock %}