{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<link href="{% static 'shop/nouislider.min.css' %}" rel="stylesheet">


<!-- блок с карточками -->
<div class="Card_big _container">


<div class="way-box _container">
    <div class="category_path"><a href="/">Главная</a></div>
    <div class="categories_path">
        {% if parents %}
            {% for category in parents %}
            <div class="category_path">
                <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">
                <a href="/{{ category.url }}">{{ category.name }} </a>
            </div>
            {% endfor %}
        {% endif %}
        <div class="category_path">
            <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">
            <a href="/{{ last_category.url }}">{{ last_category.name }} </a>
        </div>
    </div>
    <div class="categories_path">
<!--        <div class="category_path">-->
<!--            <img src="{% static 'shop/foto/right-arrow.png' %}" alt="">-->
<!--            <a href="{{ product.url }}">{{ product.name }}</a>-->
<!--        </div>-->
    </div>
</div>

{% if categories %}
<div class="footer__back">
    {% for category in categories %}
    <a href="/{{ category.url }}" class="footer-button">{{ category.name }}</a>
    {% endfor %}
</div>
{% endif %}

<!--{% if tags %}-->
<!--<div class="footer__back">-->
<!--    {% for tag in tags %}-->
<!--    <a href="/tags/{{ tag.slug }}">{{ tag.tag_name }}</a>-->
<!--    {% endfor %}-->
<!--</div>-->
<!--{% endif %}-->


<!--<div>-->
<!--    {% if products_list %}-->
<!--<select>-->
<!--    {% for color in colors %}-->
<!--    <option>{{ color.name }}</option>-->
<!--        {% endfor %}-->
<!--</select>-->
<!--    {% endif %}-->
<!--</div>-->

<div>
<!--    основной блок фильтра-->


<form method = "get" id="filter-form">
<!--    цена от {{ filter.form.price__gt}}-->
<!--    цена до {{ filter.form.price__lt }}-->
    <br>
    <br>
    <br>
<div id="slider"></div>
    <br>
				<div class="filters-price__inputs">
					<label class="filters-price__label">
					<span class="filters-price__text1">от</span>
						{% render_field filter.form.price__gt class="filters-price__input" placeholder="500" id="input-price-0" %}
					<span class="filters-price__text">₽</span>
					</label>
					<label class="filters-price__label">
					<span class="filters-price__text1">до</span>
						{% render_field filter.form.price__lt class="filters-price__input" placeholder="299999" id="input-price-1" %}
					<span class="filters-price__text">₽</span>
					</label>
				</div>


    <br>
    <br>
    <br>
<div id="slider2"></div>
    <br>
				<div class="filters-price__inputs">
					<label class="filters-price__label">
					<span class="filters-price__text1">от</span>
						{% render_field filter.form.size__gt class="filters-price__input" placeholder="2" id="input-size-0" %}
					<span class="filters-price__text">₽</span>
					</label>
					<label class="filters-price__label">
					<span class="filters-price__text1">до</span>
						{% render_field filter.form.size__lt class="filters-price__input" placeholder="400" id="input-size-1" %}
					<span class="filters-price__text">см</span>
					</label>
				</div>

    <br><br>

<!--<input type="range" min="0" max="100" step="1" value="50">-->
<!--<label for="form1">цена от:</label>-->
<!--<input type="number" id="form1" name="price__gt" />-->

<!--<label for="form1">цена до:</label>-->
<!--<input type="number" id="form1" name="price__lt" />-->

<!--<input type="range" min="0" max="100" step="1" value="50">-->

<!--<label for="form1">Размер от:</label>-->
<!--<input type="number" id="form1" name="price__gt" />-->

<!--<label for="form1">Размер до:</label>-->
<!--<input type="number" id="form1" name="price__lt" />-->

<!--Цвет-->
<!--    <select >-->
<!--        <ul>-->
<!--        {% for color in colors %}-->
<!--            <li>-->
<!--            <input type="checkbox" value="{{ color.name }}" id="form1">-->
<!--            <span>{{ color.name }}{{form.color__name.css_classes}}</span>-->
<!--            </li>-->
<!--        {% endfor %}-->
<!--        </ul>-->
<!--    </select>-->

    <p><input type="submit" value="Показать" id="my-button"></p>
</form>



    <!--    основной блок фильтра-->
</div>

<!--    вторая форма Рабочая-->
<!--<form method="get">-->
<!--        {{ filter.form.as_p }}-->
<!--        <input type="submit" />-->
<!--</form>-->


<!--<form method="get">-->
<!--    {{ filter.form.as_p }}-->
<!--    <input type="submit" />-->
<!--</form>-->



{% if products_list %}
{% for product in products_list %}

<div class="card element-animation">
    <div class="card__header"><a href="{{ product.slug }}">
        <div class="card__image"><img src="/media/{{ product.image }}" alt=""></img></div>
    </a></div>
    <div class="card__body">
        <a href="{{ product.slug }}"><div class="card__title">{{ product.name }}</div></a>
        <div class="card__price">{{ product.price }} руб.</div>
        <div class="tooltips">
            {% if product.processing %}
            <div class="tooltip"><img src="{% static 'shop/foto/h2o 1.png' %}" alt="">
                <span class="tooltiptext">Обработка для увеличения времени полета</span>
            </div>
            {% endif %}
            {% if product.helium %}
            <div class="tooltip"><img src="{% static 'shop/foto/He 1.png' %}" alt="">
                <span class="tooltiptext">Шар наполняется безопасным инертным газом гелием</span>
            </div>
            {% endif %}
            {% if product.air %}
            <div class="tooltip"><img src="{% static 'shop/foto/oblako.png' %}" alt="">
                <span class="tooltiptext">Шар наполняется воздухом</span>
            </div>
            {% endif %}
        </div>    
    </div>

    <div class="card-footer-wrapper">
        <div class="card__footer">
            <div class="card__pcs">
                <!-- <div class="pcs__calc">
                    <div class="pcs__calc-minus"><img src="{% static 'shop/foto/minuss.png' %}" alt=""></img></div>
                    <div class="pcs__calc-imput">1</div>
                    <div class="pcs__calc-plus"><img src="{% static 'shop/foto/plus.png' %}" alt=""></img></div>
                </div> -->
                <div class="favorites-cart">
                    <!-- <a href=""><img src="{% static 'shop/foto/favorites.png' %}" alt="favorites"></img></a> -->
                    <a href=""><img src="{% static 'shop/foto/cart.png' %}" alt="cart"></img></a>
                </div>    
            </div>
           
        </div>
        <a href="{{ product.slug }}" class="flip-btn">Подробно</a>
    </div> 
</div>

{% endfor %}
{% endif %}

<div class="module-pagination _container">
<!--    <div class="pagination_load"><a href="">Показать еще</a></div>-->
    <div class="pagination_box">
        {% if products_list.has_previous %}
        <a href="/{{ last_category.url }}/?page={{ products_list.previous_page_number }}">
        <div class="flex-prev"><img src="{% static 'shop/foto/arrow-l.png' %}" alt=""></div>
        </a>
        {% endif %}
        {% for page_number in products_list.paginator.page_range %}
        {% if page_number == products_list.number %}
        <a href="/{{ last_category.url }}/?page={{ page_number }}">
        <div class="numb-on">{{ page_number }}</div>
        </a>
        {% else %}
        <a href="/{{ last_category.url }}/?page={{ page_number }}">
        <div class="numb">{{ page_number }}</div>
        </a>
        {% endif %}
        {% endfor %}
        {% if products_list.has_next %}
        <a href="/{{ last_category.url }}/?page={{ products_list.next_page_number }}">
        <div class="flex-next"><img src="{% static 'shop/foto/arrow-r.png' %}" alt=""></div>
        </a>
        {% endif %}
    </div>
</div>

</div>
<!-- Закончился блок с карточками -->


<!--Скрипт вставки значений чекбоксов-->
<script src="{% static 'shop/nouislider.min.js' %}"></script>

<script>
const currentUrl = window.location.href;
<!--const filter_string = currentUrl.split('?')[1]-->
if (currentUrl.split('?')[1]) {
<!--    console.log(currentUrl.split('?')[1])-->
    var filter_string=currentUrl.split('?')[1]
    console.log('if filterstring')
    console.log(filter_string)
    }
else {
    console.log('else filterstring')
    var filter_string='price__gt=0&price__lt=40000&size__gt=0&size__lt=300'
    console.log(filter_string)
    }
console.log(filter_string)
var price_gt=filter_string.split('&')[1].split('=')[1]
var price_lt=filter_string.split('&')[0].split('=')[1]
var size_gt=filter_string.split('&')[3].split('=')[1]
var size_lt=filter_string.split('&')[2].split('=')[1]
console.log(price_lt)
console.log(price_gt)
console.log(size_lt)
console.log(size_gt)

let filterForm = document.getElementById("filter-form");
<!--обработка кнопки-->
<!--document.getElementById("filter-form").addEventListener("click", function(event){-->
<!--  event.preventDefault()-->
<!--});-->



function SendGetReq() {
  filterForm.submit()
}

// nouislider
//слайдер цены
var slider = document.getElementById('slider');

noUiSlider.create(slider, {
    start: [price_lt, price_gt],
    connect: true,
    range: {
        'min': 0,
        'max': 40000
    }
});

const input_price_0 = document.getElementById('input-price-0');
const input_price_1 = document.getElementById('input-price-1');
const inputs_price = [input_price_0, input_price_1];

slider.noUiSlider.on('update', function(values, handle){
    inputs_price[handle].value = Math.round(values[handle]);
});
slider.noUiSlider.on("change", function() {
    SendGetReq()
});

const setSslider = (i, value) => {
    let arr = [null,null];
    arr[i] = value;
    slider.noUiSlider.set(arr);

};

inputs_price.forEach((el, index) => {
    el.addEventListener('change', (e) => {
        setSslider(index, e.currentTarget.value);
        SendGetReq()
    });
});
//слайдер размера

var slider2 = document.getElementById('slider2');
noUiSlider.create(slider2, {
    start: [size_lt, size_gt],
    connect: true,
    range: {
        'min': 0,
        'max': 300
    }
});

const input_size_0 = document.getElementById('input-size-0');
const input_size_1 = document.getElementById('input-size-1');
const inputs_size = [input_size_0, input_size_1];

slider2.noUiSlider.on('update', function(values, handle){
    inputs_size[handle].value = Math.round(values[handle]);
});
slider2.noUiSlider.on("change", function() {
    SendGetReq()
});

const setSsliderSize = (i, value) => {
    let arr = [null,null];
    arr[i] = value;
    slider2.noUiSlider.set(arr);
};

inputs_size.forEach((el, index) => {
    el.addEventListener('change', (e) => {
        setSsliderSize(index, e.currentTarget.value);
        SendGetReq()
    });
});

// nouislider

console.log('LOGGGG')
var prices = document.querySelectorAll("input[type=number][id=form1]");
var checkboxes = document.querySelectorAll("input[type=checkbox][id=form1]");
let enabledSettings = []
var inputs = document.querySelectorAll("input[id=form1]");

//<!--хендлер инпутов-->
//inputs.forEach(function(my_checkbox) {
//  my_checkbox.addEventListener('change', function() {
//    console.log(inputs)
//   })
//});


//дальше ненужное
<!--Хендлер чекбоксов-->
// Use Array.forEach to add an event listener to each checkbox.
//checkboxes.forEach(function(checkbox) {
//  checkbox.addEventListener('change', function() {
//    enabledSettings =
//      Array.from(checkboxes) // Convert checkboxes to an array to use filter and map.
//      .filter(i => i.checked) // Use Array.filter to remove unchecked checkboxes.
//      .map(i => i.value) // Use Array.map to extract only the checkbox values from the array of objects.
//
//   console.log(enabledSettings)

//<!--    ?price__gt=&price__lt=&color__name=оранжевый-->
//    var enabledSettings_string = 'color__name=' + enabledSettings.join() ;
//    const currentUrl = window.location.href;
//    console.log(currentUrl)
//    console.log(currentUrl.split('/')[3])
//    console.log(currentUrl.split('/')[0]+'/'+currentUrl.split('/')[1]+'/'+currentUrl.split('/')[2]+'/')
//    const filter_string = currentUrl.split('?')[1]
//    console.log(filter_string)
//    var filter_set = filter_string.split('&')

//<!--    document.location.replace(currentUrl.split('/')[0]+'/'+currentUrl.split('/')[1]+'/'+currentUrl.split('/')[2]+'/'+currentUrl.split('/')[3]+'/'+'?'+enabledSettings_string);-->
//  })
//});

<!--хендлер цены-->
// Use Array.forEach to add an event listener to each checkbox.
//prices.forEach(function(my_checkbox) {
//  my_checkbox.addEventListener('change', function() {
//    console.log(prices[0].value)
//    console.log(prices[1].value)
//
//   })
//});





</script>

<script>
setTimeout(() => {

window.scrollBy({
    top: 150,
    behavior: "smooth"
});

}, 300);

</script>
<script src="{% static 'shop/nouislider.min.js' %}"></script>

{% endblock %}