{% extends 'shop/base.html' %}
{% load static %}
{% load mptt_tags %}
{% block content %}

<div class="sections__ava">
    <img src="{% static 'shop/foto/ava-kiki.png' %}" alt="">
</div>

<div class="sections__categories"> 
        <div class="categories_bloc-title _container">ГОТОВЫЕ НАБОРЫ:</div>
            <div class="categories_bloc _container">
                {% if categories1 %}
                {% for category in categories1 %}
                            <div class="categories_card element-animation">
                                <a href="/{{ category.url }}"><div class="categories_card-name1">{{ category.name }}</div>
                                     </a>
                            </div>
                {% endfor %}
                {% endif %}
            </div>
    <br>
    <br>
    <div class="categories_bloc-title _container">ШАРЫ ПОШТУЧНО:</div>
                <div class="categories_bloc _container">
                {% if categories2 %}
                {% for category in categories2 %}
                            <div class="categories_card element-animation">
                                <a href="/{{ category.url }}"><div class="categories_card-name1">{{ category.name }}</div>
                                     </a>
                            </div>
                {% endfor %}
                {% endif %}
            </div>
</div>


{% endblock %}
